.bg-qmsomos{
    background-color: rgb(16, 17, 63);
}

.jb-color{
    background-color: rgb(16, 17, 63);
}

.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.text-item {
	position: absolute;
	left: 5%;
	right: 5%;
	bottom: 20px;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.bg-nav{
    background-color: rgb(24, 206, 136);
}

.section-text{
    /* border: 2px solid rgb(124, 30, 1); */
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../img/1920x1080_the-office-tv-series-steve-carell.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
}

.color-text{
	font-size: 52px;
}